{% extends "base.html" %}
{% block title %}{{ product.model }} - GPU Details{% endblock %}

{% block content %}
<div class="container crad mt-5">
    <h1 class="text-center">{{ product.model }}</h1>

    <div class="crad mt-4 mb-4">
        <div class="card-header text-center">
            <h4>Specifications</h4>
            <img src="{{ url_for('static', filename='imgs/productimgs/' ~ product.image_url )}}" class="product-image" alt="">
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Brand:</strong> {{ product.brand }}</li>
                <li class="list-group-item"><strong>Model:</strong> {{ product.model }}</li>
                <li class="list-group-item"><strong>VRAM:</strong> {{ product.vram }} GB</li>
                <li class="list-group-item"><strong>Memory Type:</strong> {{product.interface}} </li>
                <li class="list-group-item"><strong>Speed:</strong> {{ product.speed }} MHz</li>
                <li class="list-group-item"><strong>Cooling Type:</strong> {{ product.cooling_type }}</li>
                <li class="list-group-item"><strong>Power Consumption:</strong> {{ product.power_consumption }} W</li>
                <li class="list-group-item"><strong>Overclockable:</strong>
                    {% if product.overclockable %} Yes {% else %} No {% endif %}
                </li>
                <li class="list-group-item"><strong>Price:</strong> ${{ "%.2f"|format(product.price) }}</li>
            </ul>
        </div>
    </div>
    <a href="/products/{{product.type}}" class="btn btn-styled cs rounded">Back</a>
</div>
{% endblock %}