{% extends "base.html" %}
{% block title %}{{ product.model }} - Details{% endblock %}

{% block content %}
<div class="container crad mt-5">
    <h1 class="text-center">{{ product.model }}</h1>

    <div class="crad mt-4 mb-4">
        <div class="crad-header text-center">
            <h4>Specifications</h4>
            <img src="{{ url_for('static', filename='imgs/productimgs/' ~ product.image_url) }}" class="product-image" alt="">
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Brand:</strong> {{ product.brand }}</li>
                <li class="list-group-item"><strong>Model:</strong> {{ product.model }}</li>
                <li class="list-group-item"><strong>Wattage:</strong> {{ product.wattage }} </li>
                <li class="list-group-item"><strong>Efficiency:</strong> {{product.efficiency}} </li>
                <li class="list-group-item"><strong>Modularity:</strong> {{ product.modularity }}</li>
                <li class="list-group-item"><strong>Connector Types:</strong> {{ product.connector_types }}</li>
                <li class="list-group-item"><strong>Fan Size:</strong> {{ product.fan_size }} </li>
                <li class="list-group-item"><strong>Price:</strong> ${{ "%.2f"|format(product.price) }}</li>
            </ul>
        </div>
    </div>
    <a href="/products/{{product.type}}" class="btn btn-styled cs rounded">Back</a>
</div>
{% endblock %}