{% extends "base.html" %}
{% block title %} - My Product Store{% endblock %}
{% block content %}
<div class="largeproductdiv">
    <div class="productdiv">
        <a href="/products/build">
            <img src="../static/imgs/mainproductimgs/buildproduct.jpg" alt="">
            <p class="productp">Build</p>
        </a>
    </div>
    <div class="productdiv">
        <a href="/products/cpu">
            <img src="../static/imgs/mainproductimgs/cpuproduct.jpg" alt="">
            <p class="productp">CPU</p>
        </a>
    </div>
    <div class="productdiv">
        <a href="/products/motherboard">
            <img src="../static/imgs/mainproductimgs/mbproduct.jpg" alt="">
            <p class="productp">Motherboard</p>
        </a>
    </div>
    <div class="productdiv">
        <a href="/products/gpu">
            <img src="../static/imgs/mainproductimgs/gpuproduct.jpg" alt="">
            <p class="productp">GPU</p>
        </a>
    </div>
    <div class="productdiv">
        <a href="/products/ram">
            <img src="../static/imgs/mainproductimgs/ramproduct.jpg" alt="">
            <p class="productp">RAM</p>
        </a>
    </div>
    <div class="productdiv">
        <a href="/products/ssd">
            <img src="../static/imgs/mainproductimgs/ssdproduct.jpg" alt="">
            <p class="productp">SSD</p>
        </a>
    </div>
    <div class="productdiv">
        <a href="/products/psu">
            <img src="../static/imgs/mainproductimgs/psuproduct.jpg" alt="">
            <p class="productp">Power Supply</p>
        </a>
    </div>
    <div class="productdiv">
        <a href="/products/case">
            <img src="../static/imgs/mainproductimgs/caseproduct.jpg" alt="">
            <p class="productp">Case</p>
        </a>
    </div>
</div>
{% endblock %}